@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');

// Customize
$body-bg: #f4f4f4;
$body-color: #222;

$enable-rounded: false;

$theme-colors: (
  "primary": #28bc83,
  "danger": #ff4136,
  "secondary": #e7ebf3
);

$border-color:            #e7ebf3 !default;

$font-family-sans-serif: "Quicksand", sans-serif;

// FORM
$input-placeholder-color: #adb5bd !default;
$custom-file-color:       #adb5bd !default;
$custom-file-text: (
  en: "Cari"
) !default;

// CARD
$card-border-color:       #e7ebf3 !default;

// Import
@import "node_modules/bootstrap/scss/bootstrap";

// Classes
* {
	font-weight: 400;
}

.shadow {
    box-shadow: 5px 10px 10px #888888;
}

.shadow-1 {
    box-shadow: 0px 2px 4px #888;
}

// NAVBAR
.navbar-nav .nav-link.active { color: #FD595E !important; }
.navbar-second {
    .navbar-brand {
        color: #b2b2b2;
    }
}


// Plugins vue-select
.v-select .dropdown-toggle {
    @extend .form-control;
}